HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/ibm/eprescription/model/P004_Message.java
/src/main/java/com/ibm/eprescription/model/p004/Subject.java
/src/main/java/com/ibm/eprescription/model/p004/SenderId.java
/src/main/java/com/ibm/eprescription/model/p004/Sender.java
/src/main/java/com/ibm/eprescription/model/p004/Results.java
/src/main/java/com/ibm/eprescription/model/p004/Requester.java
/src/main/java/com/ibm/eprescription/model/p004/RecipientId.java
/src/main/java/com/ibm/eprescription/model/p004/Recipient.java
/src/main/java/com/ibm/eprescription/model/p004/Prescription.java
/src/main/java/com/ibm/eprescription/model/p004/package-info.java
/src/main/java/com/ibm/eprescription/model/p004/P004_WhenPreparedBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_WhenHandedOverBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_WeightBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_WasSubstitutedBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_VerificationCodeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ValueUnitBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ValueStringBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ValueScaleBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ValueQuantityBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ValueNomenclatureBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ValueDateTimeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ValueCodeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_TextBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_SubstitutionTypeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_SnBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_SequenceIdBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_SequenceBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_SearchDateBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_RphaNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_RouteBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_RhifNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_RhifAreaNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ReferralTypeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ReferralSubtypeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ReferralStatusBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ReferenceTextBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ReferenceLowBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ReferenceHighBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ReasonBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_QuantityDispensedBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_QuantityBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_QualificationBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ProtocolNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ProtocolDateBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ProcedureStatusBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ProcedureMethodBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ProcedureCategoryBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PriorityBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PrescriptionTypeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PrescriptionStatusBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PrBookNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PracticeNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PpnBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PphiBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PostCodeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PmiBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PhoneBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PharmacyNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PeriodUnitBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PeriodBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_PerformedDateTimeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_OutpatientSheetNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ObservationCodeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_NrnBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_NhifNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_NhifCodeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_MkbBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_MiddleNameBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_MessageBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_MedicationCodeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_MdaBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_LrnBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_LotBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsSubstitutionAllowedBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsProtocolBasedBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsProcessingBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsPregnantBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsPatientReceiverBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsInternationalFulfilBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsFulfilledBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsDispensedBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsCorrectionBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IsBreastFeedingBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IdentifierTypeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_IdentifierBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_HumanNameBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_GtinBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_GroupIdentifierBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_GivenNameBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_GenderBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_FulfilDateBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_FrequencyBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_FamilyNameBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ExpBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ExecuteDateBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_EmailBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_DoseQuantityBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_DispensationTypeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_DeputyRoleBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CountryCodeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_ContentsBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL999.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL020.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL019.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL016.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL014.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL012.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL007.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CL005.java
/src/main/java/com/ibm/eprescription/model/p004/P004_CityBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_BoundsDurationUnitBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_BoundsDurationBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_BirthDateBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_AuthoredOnBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_AsNeededBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_Amount.java
/src/main/java/com/ibm/eprescription/model/p004/P004_AllowedRepeatsNumberBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_AgeBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_AddressDetailsBase.java
/src/main/java/com/ibm/eprescription/model/p004/P004_AddressBase.java
/src/main/java/com/ibm/eprescription/model/p004/OriginalP004_ContentsBase.java
/src/main/java/com/ibm/eprescription/model/p004/ObjectFactory.java
/src/main/java/com/ibm/eprescription/model/p004/MessageType.java
/src/main/java/com/ibm/eprescription/model/p004/MessageId.java
/src/main/java/com/ibm/eprescription/model/p004/Medication.java
/src/main/java/com/ibm/eprescription/model/p004/Header.java
/src/main/java/com/ibm/eprescription/model/p004/Group.java
/src/main/java/com/ibm/eprescription/model/p004/FoundNumber.java
/src/main/java/com/ibm/eprescription/model/p004/DosageInstruction.java
/src/main/java/com/ibm/eprescription/model/p004/CreatedOn.java
/src/main/java/com/ibm/eprescription/model/p003/SenderId.java
/src/main/java/com/ibm/eprescription/model/p003/Sender.java
/src/main/java/com/ibm/eprescription/model/p003/RecipientId.java
/src/main/java/com/ibm/eprescription/model/p003/Recipient.java
/src/main/java/com/ibm/eprescription/model/p003/package-info.java
/src/main/java/com/ibm/eprescription/model/p003/P003_WhenPreparedBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_WhenHandedOverBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_WeightBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_WasSubstitutedBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_VerificationCodeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ValueUnitBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ValueStringBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ValueScaleBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ValueQuantityBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ValueNomenclatureBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ValueDateTimeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ValueCodeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_TextBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_SubstitutionTypeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_SnBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_SequenceIdBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_SequenceBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_SearchDateBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_RphaNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_RouteBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_RhifNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_RhifAreaNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ReferralTypeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ReferralSubtypeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ReferralStatusBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ReferenceTextBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ReferenceLowBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ReferenceHighBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ReasonBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_QuantityDispensedBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_QuantityBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_QualificationBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ProtocolNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ProtocolDateBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ProcedureStatusBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ProcedureMethodBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ProcedureCategoryBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PriorityBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PrescriptionTypeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PrescriptionStatusBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PrBookNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PracticeNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PpnBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PphiBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PostCodeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PmiBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PhoneBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PharmacyNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PeriodUnitBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PeriodBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_PerformedDateTimeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_OutpatientSheetNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ObservationCodeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_NrnBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_NhifNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_NhifCodeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_MkbBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_MiddleNameBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_MessageBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_MedicationCodeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_MdaBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_LrnBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_LotBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsSubstitutionAllowedBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsProtocolBasedBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsProcessingBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsPregnantBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsPatientReceiverBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsInternationalFulfilBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsFulfilledBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsDispensedBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsCorrectionBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IsBreastFeedingBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IdentifierTypeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_IdentifierBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_HumanNameBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_GtinBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_GroupIdentifierBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_GivenNameBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_GenderBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_FulfilDateBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_FrequencyBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_FamilyNameBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ExpBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ExecuteDateBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_EmailBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_DoseQuantityBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_DispensationTypeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_DeputyRoleBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CountryCodeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_ContentsBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL999.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL020.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL019.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL016.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL014.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL012.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL007.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CL005.java
/src/main/java/com/ibm/eprescription/model/p003/P003_CityBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_BoundsDurationUnitBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_BoundsDurationBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_BirthDateBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_AuthoredOnBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_AsNeededBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_Amount.java
/src/main/java/com/ibm/eprescription/model/p003/P003_AllowedRepeatsNumberBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_AgeBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_AddressDetailsBase.java
/src/main/java/com/ibm/eprescription/model/p003/P003_AddressBase.java
/src/main/java/com/ibm/eprescription/model/p003/OriginalP003_MessageBase.java
/src/main/java/com/ibm/eprescription/model/p003/OriginalP003_ContentsBase.java
/src/main/java/com/ibm/eprescription/model/p003/ObjectFactory.java
/src/main/java/com/ibm/eprescription/model/p003/MessageType.java
/src/main/java/com/ibm/eprescription/model/p003/MessageId.java
/src/main/java/com/ibm/eprescription/model/p003/Header.java
/src/main/java/com/ibm/eprescription/model/p003/CreatedOn.java
/src/main/java/META-INF/sun-jaxb.episode
